.cabecalho {
    position: relative;
    background-color: var(--cor-de-fundo);
    border-bottom: 2px solid var(--preto);
    font-family: var(--fonte-secundaria);
}


.cabecalho__menu{
    display: flex;
    align-items: center;
}


.cabecalho__botao {
    display: none;
}

/*  ~ combinador (irmão geral) OU + combinador (irmão próximo) para
mudar a imagem do menu quando for clicado. Usa o combinador filho para
selecinar a classe .cabecalho__menu-hamburquer onde está a imagem. */
.cabecalho__botao:checked ~ .cabecalho__label > .cabecalho__menu-hamburguer {
    background-image: url(../img/MenuAberto.svg);
}


.cabecalho__label {
    padding: 1rem;
}


.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menuFechado.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}


.cabecalho__lista {
    display: flex; 
    position: absolute;
    top: 100%;
    transition: 0.5s;
    left: -100%;
    width: 100%;
}

/*  ~ combinador (irmão geral) OU + combinador (irmão próximo) para abrir o menu */
.cabecalho__botao:checked ~ .cabecalho__lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    top: 100%;
    transition: 0.25s;
    left: 0;
    background-color: var(--cor-de-fundo);
}


.cabecalho__item {
    margin: 10px 10px;
}

.cabecalho__item-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--preto);
}


.cabecalho__menu-titulo {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}


.cabecalho__carrinho {
    padding: 1rem;
    width: 24px;
    height: 24px;
}

/* Para telas maiores que 763px */
@media screen and (min-width: 763px) {
    
    .cabecalho__menu {
        justify-content: space-around;
        align-items: center;
    }

    .cabecalho__botao {
        order: -1;
    }

    
    .cabecalho__label {
        display: none;
    }
    
    
    .cabecalho__lista {
        position: inherit;
        width: auto;
    }

/* evita o movimento de transition quando girar um celular ou tablet com a largura maior que 763px */
    .cabecalho__botao:checked ~ .cabecalho__lista {
        position: inherit;
    }

    .cabecalho__item-link:hover {
        background: var(--cor-de-fundo2);
        padding: 0  0.5rem;
        border-radius: 5px; 
    }    
    
    
    .cabecalho__item-link {
        font-size: 2rem;
    }
    

    .cabecalho__item-link-ativo {
        border-bottom: 2px solid;
    }
    

    .cabecalho__menu-titulo {
        margin: 10px 10px;
        width: auto;
        order: -1;
    }
    
    
    .cabecalho__carrinho {
        padding: 0;
        margin: 10px 10px;
    }
    
}