.carrossel__tela {
    margin: 0 auto;
    width: 90%;
}


.carrossel__borda {
    border-radius: 15px;
    /* x, y, blur, alcance da sobra e color. */
    box-shadow: 10px 10px 20px 0 var(--cor-de-fundo2);
}


.carrossel__caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}


.carrossel-texto {
    align-self: auto;
    border-radius: 15px;
    margin: 0 1rem;
    color: var(--preto);
    background: var(--cor-de-fundo-contato);
    font-family: var(--fonte-secundaria);
}


.carrossel__botao {
    align-self: center;
}


/* Usando as propriedades do bootstrap diretamente */
.carrossel__botao {    
    --bs-btn-color: var(--preto);
    --bs-btn-bg: var(--cor-de-fundo);
    --bs-btn-border-color: var(--cor-de-fundo2);
    --bs-btn-hover-color: var(--branco);
    --bs-btn-hover-bg: var(--cor-de-fundo2);
    --bs-btn-hover-border-color: var(--cor-de-fundo);
    --bs-btn-focus-shadow-rgb: 196, 193, 215;
    --bs-btn-active-color: var(--preto);
    --bs-btn-active-bg: var(--cor-de-fundo);
    --bs-btn-active-border-color: var(--cor-de-fundo2);
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(174, 168, 214, 0.125);
    --bs-btn-disabled-color: var(--preto);
    --bs-btn-disabled-bg: var(--cor-de-fundo);
    --bs-btn-disabled-border-color: var(--cor-de-fundo2);
    font-weight: 600;
} 


/* Para telas maiores que 720px */
@media screen and (min-width: 720px) {
    .carrossel__imagem {
        object-fit: fill;
        height: 576px;     
    } 
}
